<h1>Eat-Burger!</h1>

<h2>Non devoured burgers</h2>

<ul>
    {{#each burgers}} {{#unless this.devoured}} {{this.burger_name}} {{/unless}} {{/each}}
</ul>

<h2>Devoured burgers</h2>

<ul>
    {{#each burgers}} {{#if this.devoured}} {{this.burger_name}} {{/if}} {{/each}}
</ul>

<h2>Add Burger</h2>
<form class="create-form" action='/api/burgers' method='POST'>

    <div class="form-group">
        <label for="ca">Burger name:</label>
        <input type="text" id="ca" name="name">
    </div>
    <button type="submit">Add Burger</button>
</form>